:root {
  --bg-color: #e6467f;
  --color-dark-purple: #60c;
  --color-purple: #972cca;
  --color-black: #000;
  --color-white: #eee;
  --color-green: #008000;
  --color-darkred: #8b0000;
  --color-darkgray: #3f3f3f;
  --color-gray: #808080;
  --color-lightgray: #a9a9a9;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  height: 100vh;
  height: 100dvh;
  font-size: 20px;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  display: grid;
  grid-template-columns: minmax(230px, 15%) 1fr;
  grid-template-rows: auto auto 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: relative;
}

#searchBar {
  grid-area: 1 / 1 / 2 / 3;
}
.slideshow {
  grid-area: 2 / 2 / 3 / 3;
}
.randomByCategories {
  grid-area: 3 / 2 / 4 / 3;
}
.sideBar {
  grid-area: 2 / 1 / 4 / 2;
}

header {
  display: flex;
  justify-content: space-between;
}

header .logo {
  display: flex;

  h3 {
    width: 300px;
  }
}

header .icons {
  display: flex;
  gap: 0.5rem;
  margin-right: 0.5rem;

  .icon {
    display: flex;
    align-items: center;
  }
}

.search {
  width: 500px;
  height: 40px;
  margin: 15px auto;
  background: #444;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid var(--color-white);

  input {
    width: 370px;
    padding: 10px 5px;
    float: left;
    color: #ccc;
    border: 0;
    background: transparent;
    border-radius: 3px 0 0 3px;
  }

  input:focus {
    outline: 0;
    background: transparent;
  }

  button {
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 120px;
    color: var(--color-white);
    background: transparent;
    border-left: 1px solid var(--color-white);
    border-radius: 0 3px 3px 0;
  }

  button:hover {
    background: var(--color-white);
    color: #444;
  }

  button:active {
    box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
  }

  button:focus {
    outline: 0;
  }
}

.sideBar {
  position: sticky;
  top: 0.5rem;
  align-self: baseline;
}

.sideBar details {
  margin: 0.5rem;
  border: 2px solid var(--color-purple);
  border-radius: 10px;

  & > summary {
    padding: 0.25rem;
    border-radius: 8px;
    background-color: green;
    cursor: pointer;

    &::after {
      content: "\02795"; /* + */
      margin-right: 0.5rem;
      font-size: 1rem;
      float: right;
    }
  }

  &[open] summary {
    border-radius: 8px 8px 4px 4px;

    &::after {
      content: "\02796"; /* - */
    }
  }

  & li,
  & p {
    margin-left: 1rem;
    margin-top: 0.125rem;

    & a {
      width: 100%;
      display: inline-block;
      color: var(--color-black);
      cursor: pointer;
    }
  }
}

.card {
  border: 1px solid var(--color-black);
  border-radius: 5px;
  min-width: 250px;

  & > img {
    width: 200px;
    display: block;
    margin: 0.5rem auto;
  }

  .textarea {
    display: flex;
    justify-content: space-between;

    * {
      margin: 0.7rem;
    }

    h2 {
      font-size: 20px;
    }
  }
}

.card .buttons {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-evenly;

  button {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: none;
    border-radius: 5px;

    &.cart {
      background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      &:hover {
        box-shadow: #fc894d 0 1px 10px;
      }
    }

    &.favorite {
      width: 30px;
      background-color: transparent;
      justify-self: flex-end;
    }

    img {
      height: 20px;
      width: 20px;
    }
  }
}

footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
