.content-wrapper {
  margin-left: 3rem;
  margin-right: 3rem;
}

.cart-group {
  display: flex;
}

.thead {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}

.item {
  width: 100%;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  .item-img {
    display: grid;
    place-items: center;
    & img {
      max-width: 100px;
    }
  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  .quantity {
    --height: 50px;
    --height_2: calc(var(--height) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .stepper {
      display: flex;
      position: relative;

      input[type="number"] {
        height: var(--height);
        width: calc(var(--height) * 1.5);
        padding: 0.25rem;
        padding-right: var(--height_2);
        font-size: 1.2rem;
        text-align: center;
        border-width: 1px;
        border-radius: 3px;

        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
      }
      .stepper-btns {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;

        > button {
          height: var(--height_2);
          outline: none;
          display: grid;
          place-items: center;
        }
      }
    }
    .delete-btn button {
      height: var(--height);
      width: var(--height);
      background-color: var(--color-darkred);
      border: none;
      border-radius: 3px;
    }
  }
}

.cart-bottom .cart-panels {
  .title {
    margin-bottom: 1.5rem;
  }

  .panel-group {
    & details {
      min-width: 300px;

      & > summary {
        padding: 0.25rem;
        border-radius: 8px;
        cursor: pointer;

        &::after {
          content: "\02795"; /* + */
          margin-right: 0.5rem;
          font-size: 1rem;
          float: right;
        }
      }

      &[open] summary {
        border-radius: 8px 8px 4px 4px;

        &::after {
          content: "\02796"; /* - */
        }
      }
    }
  }
}

.panel-group .input-group {
  display: flex;
}