.cart-container {
  margin-left: 3rem;
  margin-right: 3rem;
}

.cart-group-empty {
  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  a {
    padding: 0.5rem;
    background-color: var(--bs-warning);
    border-radius: var(--bs-border-radius-sm);
    display: flex;
    justify-content: center;
  }
}

.cart-group {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 1300px) {
  .cart-group {
    flex-direction: column;
  }
}

.thead {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}

.item {
  width: 100%;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  > * {
    padding: 0.5rem;
  }

  .item-img {
    display: grid;
    place-items: center;

    & img {
      max-width: 100px;
    }
  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  .quantity {
    --height: 50px;
    --height_2: calc(var(--height) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .stepper {
      display: flex;
      position: relative;

      input[type="number"] {
        height: var(--height);
        width: calc(var(--height) * 1.5);
        padding: 0.25rem;
        padding-right: var(--height_2);
        font-size: 1.2rem;
        text-align: center;
        border-width: 1px;
        border-radius: 3px;

        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
      }

      .stepper-btns {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;

        > button {
          height: var(--height_2);
          outline: none;
          display: flex;
        }
      }
    }

    .delete-btn button {
      height: var(--height);
      width: var(--height);
      background-color: var(--color-darkred);
      border: none;
      border-radius: 3px;

      > span {
        height: 100%;
        width: 100%;
        display: grid;
        place-items: center;
      }
    }
  }
}

.cart-bottom {
  width: 300px;
  margin-top: 3rem;

  .cart-panels {
    .title {
      margin-bottom: 1.5rem;
    }

    .panel-group {
      button,
      input {
        border-width: 2px;
        border-style: solid;
        border-radius: 5px;
      }

      & details {
        min-width: 300px;

        & > summary {
          padding: 0.25rem;
          border-radius: 8px;
          cursor: pointer;

          &::after {
            content: "\02795"; /* + */
            margin-right: 0.5rem;
            font-size: 1rem;
            float: right;
          }
        }

        &[open] summary {
          border-radius: 8px 8px 4px 4px;

          &::after {
            content: "\02796"; /* - */
          }
        }
      }

      & details:nth-child(1) {
        .warning {
          padding: 0.25rem;
          color: var(--bs-dark);
          background-color: var(--bs-danger);
          border: 2px solid var(--color-darkred);
          border-radius: var(--bs-border-radius-sm);
          display: none;
          justify-content: space-between;

          & button {
            padding: 0 0.25rem;
            font-size: 1.1rem;
            cursor: pointer;
            color: var(--bs-dark);
            background-color: transparent;
            border: none;
            outline: none;
          }
        }

        .input-group {
          height: 3.5rem;
          padding: 0.5rem;
          display: flex;
          justify-content: space-between;

          > input {
            border-color: var(--color-dark-purple);
          }

          > input[type="text"] {
            width: 140px;
            padding: 0.4rem;
          }

          > input[type="button"] {
            height: 100%;
            width: 120px;
            background-color: var(--bs-teal);
            border-color: var(--bs-success);
          }
        }
      }

      & details:nth-child(2) {
        & label.after::after {
          content: "*";
          color: var(--color-darkred);
          padding-inline-start: 0.2rem;
        }

        & select {
          display: block;
          width: 90%;
          margin: 1rem 0;

          --arrow-bg: rgba(255, 255, 255, 0.3);
          --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
          --option-bg: #60c;
          --select-bg: rgba(255, 255, 255, 0.2);

          /* Reset */
          appearance: none;
          border: 0;
          outline: 0;
          font: inherit;
          /* Personalize */
          /* width: 20rem; */
          padding: 1rem 4rem 1rem 1rem;
          background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
            linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
          color: white;
          border-radius: 0.25em;
          box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
          cursor: pointer;

          & option {
            color: inherit;
            background-color: var(--option-bg);
          }
        }

        & label.after ~ input {
          height: 2.2rem;
          width: 100%;
          margin: 0.5rem 0;
          padding: 0.5rem;
          border-color: var(--color-dark-purple);
          font-size: 14px;
        }

        .input-group:last-child {
          padding: 1rem 0;

          & button {
            width: 100%;
            padding: 0.75rem 0.5rem;
            background-color: var(--bs-teal);
            border-color: var(--bs-success);
            font-size: 15px;
          }
        }
      }
    }
  }
}

.cart-total {
  width: 100%;
  margin: 0.5rem;

  td {
    padding: 0.5rem;

    &:first-child {
      text-align: center;
    }

    &:not(:first-child) {
      text-align: end;
    }
  }
}

.buttons {
  padding: 1rem;
  display: flex;
  justify-content: space-between;

  .btn {
    padding: 9px;
    border: 2px var(--bs-border-style);
    border-radius: var(--bs-border-radius);

    a {
      height: 100%;
      width: 100%;
      display: block;
    }
  }

  .left {
    background-color: var(--bs-warning);
    border-color: var(--bs-warning-border-subtle);

    span {
      color: var(--color-black);
    }
  }

  .right {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary-border-subtle);

    span {
      color: var(--color-white);
    }
  }
}

.modal {
  margin: auto;
  margin-top: 15vh;
  color: var(--bs-body-color);
  background-color: var(--bs-tertiary-bg);

  &::backdrop {
    background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.75;
  }

  .modal-header {
    padding: 0.5rem 0.5rem;
  }

  .modal-body {
    padding: 0 0.5rem;

    .warning {
      padding: 0.25rem;
      color: var(--bs-danger-text-emphasis);
      background-color: var(--bs-danger-bg-subtle);
      border: 2px solid var(--bs-danger-border-subtle);
      border-radius: var(--bs-border-radius-sm);
      display: none;
      justify-content: space-between;

      & button {
        padding: 0 0.25rem;
        font-size: 1.1rem;
        cursor: pointer;
        color: var(--bs-danger-text-emphasis);
        background-color: transparent;
        border: none;
        outline: none;
      }
    }

    .radio {
      padding-left: 0.25rem;
    }
  }

  .modal-footer {
    padding: 0.5rem;

    > button {
      margin-right: 0.5rem;
      padding: 0.25rem;
      border-radius: var(--bs-border-radius-sm);
      font-weight: bold;
      box-shadow: var(--bs-box-shadow-lg);
      cursor: pointer;

      &:hover {
        box-shadow: var(--bs-box-shadow-inset);
      }
    }

    > button:first-child {
      color: var(--bs-danger-text-emphasis);
      background-color: var(--bs-danger);
      border: 2px solid var(--bs-danger);
    }

    > button:last-child {
      color: var(--bs-success-text-emphasis);
      background-color: var(--bs-success);
      border: 2px solid var(--bs-success);
    }
  }
}

.side-products {
  background-color: var(--color-purple);

  > ul.nav {
    margin: 0.5rem;
    display: flex;

    > li {
      padding: 0.5rem;

      > a {
        padding-bottom: 0.125rem;
        color: var(--color-white);
        border-bottom: 1px solid red;
      }
    }
  }

  > .side-products-container .container {
    margin-top: 1rem;
    padding: 0 1rem 1rem;
    display: flex;
    gap: 0.5rem;

    .card {
      max-width: 310px;
      padding: 0.5rem 0 0 0.5rem;
      border: none;
      border-radius: unset;
      background-color: var(--bg-color);
      display: flex;

      .image {
        width: 30%;

        & a {
          width: 100%;
          display: flex;

          & img {
            width: 100%;
          }
        }
      }

      .caption {
        width: 75%;
        padding-left: 0.5rem;

        > * {
          margin-bottom: 2px;
        }

        .name a {
          color: var(--color-black);
        }

        .rating .rating-stars {
          display: flex;

          .star {
            height: 24px;
            width: 24px;
          }
        }

        .btn-group {
          padding: 5px;

          .btn {
            padding: 3px;
            display: inline-flex;
            justify-content: center;

            &.btn-cart {
              width: calc(100% - ((2 * 0.25rem) + (2 * 30px)));
              background-color: var(--bs-primary);
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .side-products-container .container .card:last-of-type {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  .side-products-container .container .card:nth-last-of-type(2) {
    display: none;
  }
}

@media screen and (max-width: 853px) {
  .side-products-container .container .card:nth-last-of-type(3) {
    display: none;
  }
}