main.fodrasz {
  position: relative;
  display: grid;
  grid-template-columns: minmax(230px, 15%) 1fr;
}

.sort-info {
  --margin: 5rem;
  margin-top: var(--margin);
  margin-bottom: var(--margin);
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .element {
    display: flex;
    gap: 0.5rem;

    .counter {
      display: flex;
      flex-direction: column;
      align-items: center;

      .value {
        font-size: 2rem;
        font-weight: 700;
      }

      .title {
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: 1195px) {
  .sort-info {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);

    .element {
      padding: 0.5rem;
    }
  }
}

.services .cards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5%;
  row-gap: 2rem;

  .card {
    width: min(20%, 350px);
    background-color: var(--color-purple);
    border: none;

    * {
      text-align: center;
    }

    .img > img {
      width: 70%;
      display: block;
      margin: 0 auto;
      filter: drop-shadow(0px 0px 10px var(--color-black));
    }

    .title {
      margin-bottom: 1rem;
    }

    .description {
      margin: 0 2rem 3rem 2rem;
    }
  }
}

@media screen and (max-width: 1110px) {
  .services .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 790px) {
  .services .cards {
    height: min-content;
    grid-template-columns: repeat(1, 1fr);
  }
}

/*----- table -----*/

.small-text {
  margin: var(--upper-margin) var(--side-margin);
  text-align: center;

  & p:not(:only-child):last-child {
    margin-top: var(--upper-margin);
  }
}

.gallery .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;

  .image-container {
    border: 1px solid var(--color-lightgray);

    & > img {
      min-width: 20vw;
      max-width: 300px;
      margin: 1px;
      box-shadow: 0 3px 10px var(--color-black);
    }

    .upper-title-container {
      .logo {
        float: left;
      }

      .title-container {
        text-align: center;
      }
    }
  }
}

.idopont {
  margin: 1rem;

  .form-and-image {
    display: flex;
    justify-content: center;

    .idopont-form .inputgroup {
      display: flex;
      flex-direction: column;

      input,
      textarea,
      button {
        margin: 0.25rem;
      }

      & input[type="text"],
      & input[type="email"],
      & input[type="tel"] {
        padding: 0.25rem 0.5rem;
        border: 1px solid var(--color-black);

        &::placeholder {
          color: var(--color-darkgray);
        }
      }

      .options {
        display: flex;
        flex-wrap: wrap;
      }
      .options input[type="radio"],
      .options input[type="checkbox"] {
        width: 0.9rem;
        aspect-ratio: 1;
        accent-color: var(--color-dark-purple);
      }
    }
  }
  .alert p {
    color: var(--color-darkred);
  }
}
