/*backgrounds*/
:root {
  --bg-1: url("../images/kozmetika/2.jpg");
  --bg-2: url("../images/kozmetika/innovera.jpg");
  --bg-3: url("../images/kozmetika/dermapen.jpg");
  --bg-4: url("../images/kozmetika/6.jpg");
  --bg-5: url("../images/kozmetika/mavex-ganoderma.jpg");
  --bg-6: url("../images/kozmetika/fényterápia.jpg");
  --bg-7: url("../images/kozmetika/karaja-makeup-1.jpg");
  --bg-8: url("../images/kozmetika/műszempilla.jpg");
  --bg-9: url("../images/kozmetika/szemöldök.jpg");
  --bg-10: url("../images/kozmetika/exkluzív-arc-nyak-image.jpg");
  --bg-11: url("../images/kozmetika/innovera.jpg");
  --bg-12: url("../images/kozmetika/ipl.jpg");
  --bg-13: url("../images/kozmetika/csizma-1.jpg");
  --bg-14: url("../images/kozmetika/zsírbontás.jpg");
  --bg-15: url("../images/kozmetika/krio.jpg");
  --bg-16: url("../images/kozmetika/stria-kezelés.jpg");
  --bg-17: url("../images/kozmetika/italwax.jpg");
  --bg-18: url("../images/kozmetika/17.jpg");
  --bg-19: url("../images/kozmetika/infraszauna.jpg");
}
/*----- section, -header -----*/

section[id] {
  --margin: 2rem;
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    margin-bottom: 0.5rem;
  }

  .description {
    width: 50%;
    margin-top: 1rem;
    margin-bottom: var(--margin);
    text-align: center;
  }
}

/*----- End -----*/

main.kozmetika {
  position: relative;
  display: grid;
  grid-template-columns: minmax(230px, 15%) 1fr;
}

.navbar {
  height: auto;
  margin: 1rem;

  .ip-btn {
    padding: 0.5rem;
    border: 2px solid black;
    background: transparent;
    font-size: 1rem;
    text-transform: uppercase;
  }
}
.navbar,
.navbar nav ul {
  display: flex;
  gap: 1rem;
  justify-content: center;

  & > li {
    margin: 0.5rem;
  }
}

.sort-info {
  --margin: 5rem;
  margin-top: var(--margin);
  margin-bottom: var(--margin);
  display: flex;
  justify-content: space-evenly;

  .element {
    display: flex;
    flex-direction: column;

    .element-header {
      display: flex;
      gap: 2rem;

      .header-title {
        display: grid;
        place-items: center;
      }
    }

    & ul li {
      .list-icon {
        color: darkred;
        font-weight: bold;
      }
    }
  }
}

.treatments .card-container .row {
  margin: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 1.5rem;
}

.treatments .category-container {
  margin-top: 4rem;

  .category-header {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .red-text {
      display: inline-block;
      margin-bottom: 1rem;
      color: darkred;
      border-bottom: 2px solid darkred;
    }

    .category-title {
      font-size: 3rem;
    }
  }
}

.row .flip-card {
  background-color: transparent;
  width: 400px;
  height: 460px;
  border: 1px solid #f1f1f1;
  border-radius: 1px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .title-front > span {
    color: white;
    background-color: darkred;
  }
}

/* Style the back side */
.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  transform: rotateY(180deg);

  .title-back {
    margin-top: 2rem;
  }
  .description {
    padding: 0 2rem;
  }
  .btn-container {
    padding: 1.5rem;

    & > button {
      padding: 0.75rem;
      border: none;
      border-radius: 5px;
      background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
      cursor: pointer;

      &:hover {
        box-shadow: #fc894d 0 1px 10px;
      }
    }
  }
}

/*----- price table -----*/
.col-title {
  margin: 0.25rem;
  display: flex;
  justify-content: center;

  & > span {
    font-weight: bolder;
    text-align: center;
  }
}
.time-counter {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
.price + .price {
  margin-left: 1.5rem;
}

/*----- időpont -----*/
.idopont-form {
  .after > label::after {
    content: "*";
    color: darkred;
    padding-inline-start: 0.2rem;
  }
}

.inputgroup .category-selector {
  & label {
    padding: 0.5rem;
    display: inline-block;
    color: white;
    background-color: var(--color-dark-purple);
    border: 2px solid var(--color-purple);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.5s all ease-in-out;

    &:hover {
      color: black;
      background-color: var(--color-purple);
      border: 2px solid var(--color-dark-purple);
    }
  }

  & input {
    display: none;
  }
}

select {
  display: block;
  width: 90%;
  margin: 1rem;

  --arrow-bg: rgba(255, 255, 255, 0.3);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: #60c;
  --select-bg: rgba(255, 255, 255, 0.2);

  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 20rem;
  padding: 1rem 4rem 1rem 1rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;

  & option {
    color: inherit;
    background-color: var(--option-bg);
  }
}
