/*backgrounds*/
:root {
  --bg-1: url("../images/kozmetika/2.jpg");
  --bg-2: url("../images/kozmetika/innovera.jpg");
  --bg-3: url("../images/kozmetika/dermapen.jpg");
  --bg-4: url("../images/kozmetika/6.jpg");
  --bg-5: url("../images/kozmetika/mavex-ganoderma.jpg");
  --bg-6: url("../images/kozmetika/fényterápia.jpg");
  --bg-7: url("../images/kozmetika/karaja-makeup-1.jpg");
  --bg-8: url("../images/kozmetika/műszempilla.jpg");
  --bg-9: url("../images/kozmetika/szemöldök.jpg");
  --bg-10: url("../images/kozmetika/exkluzív-arc-nyak-image.jpg");
  --bg-11: url("../images/kozmetika/innovera.jpg");
  --bg-12: url("../images/kozmetika/ipl.jpg");
  --bg-13: url("../images/kozmetika/csizma-1.jpg");
  --bg-14: url("../images/kozmetika/zsírbontás.jpg");
  --bg-15: url("../images/kozmetika/krio.jpg");
  --bg-16: url("../images/kozmetika/stria-kezelés.jpg");
  --bg-17: url("../images/kozmetika/italwax.jpg");
  --bg-18: url("../images/kozmetika/17.jpg");
  --bg-19: url("../images/kozmetika/infraszauna.jpg");
}
/*----- section, -header -----*/

section[id] {
  --margin: 2rem;
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    margin-bottom: 0.5rem;
  }

  .description {
    width: 50%;
    margin-top: 1rem;
    margin-bottom: var(--margin);
    text-align: center;
  }
}

/*----- End -----*/

main.kozmetika {
  position: relative;
  display: grid;
  grid-template-columns: minmax(230px, 15%) 1fr;
}

.navbar {
  height: auto;
  margin: 1rem;

  .ip-btn {
    padding: 0.5rem;
    border: 2px solid black;
    background: transparent;
    font-size: 1rem;
    text-transform: uppercase;
  }
}
.navbar,
.navbar nav ul {
  display: flex;
  gap: 1rem;
  justify-content: center;

  & > li {
    margin: 0.5rem;
  }
}

.sort-info {
  --margin: 5rem;
  margin-top: var(--margin);
  margin-bottom: var(--margin);
  display: flex;
  justify-content: space-evenly;

  .element-header {
    display: flex;
    gap: 2rem;

    .header-title {
      display: grid;
      place-items: center;
    }
  }

  & ul li {
    .list-icon {
      color: darkred;
      font-weight: bold;
    }
  }
}

.treatments .card-container .row {
  margin: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 1.5rem;
}

.treatments .category-container {
  margin-top: 2rem;

  .category-header {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .red-text {
      display: inline-block;
      margin-bottom: 2rem;
      color: darkred;
      border-bottom: 2px solid darkred;
    }

    .category-title {
      font-size: 3rem;
    }
  }
}

.row .flip-card {
  background-color: transparent;
  width: 400px;
  height: 460px;
  border: 1px solid #f1f1f1;
  border-radius: 1px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .title-front > span {
    color: white;
    background-color: darkred;
  }
}

/* Style the back side */
.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  transform: rotateY(180deg);

  .title-back {
    margin-top: 2rem;
  }
  .description {
    padding: 0 2rem;
  }
  .btn-container {
    padding: 1.5rem;

    & > button {
      padding: .75rem;
      border: none;
      border-radius: 5px;
      background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
      cursor: pointer;
      
      &:hover {
        box-shadow: #fc894d 0 1px 10px;
      }
    }
  }
}

/* special treatments images */
.special-treatments .card-container .row1 .card:nth-child(1) {
  .flip-card-front {
    background: var(--bg-10);
    background-size: cover;
  }
  .flip-card-back {
    background: var(--bg-10), #de0910db;
    background-size: cover;
    background-blend-mode: multiply;
  }
}
.special-treatments .card-container .row1 .card:nth-child(2) {
  .flip-card-front {
    background: var(--bg-1);
    background-size: cover;
  }
  .flip-card-back {
    background: var(--bg-1), #de0910db;
    background-size: cover;
    background-blend-mode: multiply;
  }
}
.special-treatments .card-container .row1 .card:nth-child(3) {
  .flip-card-front {
    background: var(--bg-2);
    background-size: cover;
  }
  .flip-card-back {
    background: var(--bg-2), #de0910db;
    background-size: cover;
    background-blend-mode: multiply;
  }
}
.special-treatments .card-container .row2 .card:nth-child(1) {
  .flip-card-front {
    background: var(--bg-12);
    background-size: cover;
  }
  .flip-card-back {
    background: var(--bg-12), #de0910db;
    background-size: cover;
    background-blend-mode: multiply;
  }
}
.special-treatments .card-container .row2 .card:nth-child(2) {
  .flip-card-front {
    background: var(--bg-14);
    background-size: cover;
  }
  .flip-card-back {
    background: var(--bg-14), #de0910db;
    background-size: cover;
    background-blend-mode: multiply;
  }
}
.special-treatments .card-container .row2 .card:nth-child(3) {
  .flip-card-front {
    background: var(--bg-6);
    background-size: cover;
  }
  .flip-card-back {
    background: var(--bg-6), #de0910db;
    background-size: cover;
    background-blend-mode: multiply;
  }
}

/* treatments images */
/* first group */
.treatments
  .category-container:nth-child(2)
  .card-container
  > .row1
  > .card:nth-child(1) {
  .flip-card-front {
    background: var(--bg-1);
    background-size: cover;
  }
  .flip-card-back {
    background: var(--bg-1), #de0910db;
    background-size: cover;
    background-blend-mode: multiply;
  }
}
.treatments
  .category-container:nth-child(2)
  .card-container
  .row1
  .card:nth-child(2) {
  .flip-card-front {
    background: var(--bg-2);
    background-size: cover;
  }
  .flip-card-back {
    background: var(--bg-2), #de0910db;
    background-size: cover;
    background-blend-mode: multiply;
  }
}
.treatments
  .category-container:nth-child(2)
  .card-container
  .row1
  .card:nth-child(3) {
  .flip-card-front {
    background: var(--bg-3);
    background-size: cover;
  }
  .flip-card-back {
    background: var(--bg-3), #de0910db;
    background-size: cover;
    background-blend-mode: multiply;
  }
}
.treatments
  .category-container:nth-child(2)
  .card-container
  .row2
  .card:nth-child(1) {
  .flip-card-front {
    background: var(--bg-4);
    background-size: cover;
  }
  .flip-card-back {
    background: var(--bg-4), #de0910db;
    background-size: cover;
    background-blend-mode: multiply;
  }
}
.treatments
  .category-container:nth-child(2)
  .card-container
  .row2
  .card:nth-child(2) {
  .flip-card-front {
    background: var(--bg-5);
    background-size: cover;
  }
  .flip-card-back {
    background: var(--bg-5), #de0910db;
    background-size: cover;
    background-blend-mode: multiply;
  }
}
.treatments
  .category-container:nth-child(2)
  .card-container
  .row2
  .card:nth-child(3) {
  .flip-card-front {
    background: var(--bg-6);
    background-size: cover;
  }
  .flip-card-back {
    background: var(--bg-6), #de0910db;
    background-size: cover;
    background-blend-mode: multiply;
  }
}

/* second group */
.treatments
  .category-container:nth-child(3)
  .card-container
  .row1
  .card:nth-child(1) {
  .flip-card-front {
    background: var(--bg-7);
    background-size: cover;
  }
  .flip-card-back {
    background: var(--bg-7), #de0910db;
    background-size: cover;
    background-blend-mode: multiply;
  }
}
.treatments
  .category-container:nth-child(3)
  .card-container
  .row1
  .card:nth-child(2) {
  .flip-card-front {
    background: var(--bg-8);
    background-size: cover;
  }
  .flip-card-back {
    background: var(--bg-8), #de0910db;
    background-size: cover;
    background-blend-mode: multiply;
  }
}
.treatments
  .category-container:nth-child(3)
  .card-container
  .row1
  .card:nth-child(3) {
  .flip-card-front {
    background: var(--bg-9);
    background-size: cover;
  }
  .flip-card-back {
    background: var(--bg-9), #de0910db;
    background-size: cover;
    background-blend-mode: multiply;
  }
}

/* third group */
.treatments
  .category-container:nth-child(4)
  .card-container
  .row1
  .card:nth-child(1) {
  .flip-card-front {
    background: var(--bg-10);
    background-size: cover;
  }
  .flip-card-back {
    background: var(--bg-10), #de0910db;
    background-size: cover;
    background-blend-mode: multiply;
  }
}
.treatments
  .category-container:nth-child(4)
  .card-container
  .row1
  .card:nth-child(2) {
  .flip-card-front {
    background: var(--bg-11);
    background-size: cover;
  }
  .flip-card-back {
    background: var(--bg-11), #de0910db;
    background-size: cover;
    background-blend-mode: multiply;
  }
}
.treatments
  .category-container:nth-child(4)
  .card-container
  .row1
  .card:nth-child(3) {
  .flip-card-front {
    background: var(--bg-12);
    background-size: cover;
  }
  .flip-card-back {
    background: var(--bg-12), #de0910db;
    background-size: cover;
    background-blend-mode: multiply;
  }
}

/* fourth group */
.treatments
  .category-container:nth-child(5)
  .card-container
  .row1
  .card:nth-child(1) {
  .flip-card-front {
    background: var(--bg-13);
    background-size: cover;
  }
  .flip-card-back {
    background: var(--bg-13), #de0910db;
    background-size: cover;
    background-blend-mode: multiply;
  }
}
.treatments
  .category-container:nth-child(5)
  .card-container
  .row1
  .card:nth-child(2) {
  .flip-card-front {
    background: var(--bg-14);
    background-size: cover;
  }
  .flip-card-back {
    background: var(--bg-14), #de0910db;
    background-size: cover;
    background-blend-mode: multiply;
  }
}
.treatments
  .category-container:nth-child(5)
  .card-container
  .row1
  .card:nth-child(3) {
  .flip-card-front {
    background: var(--bg-15);
    background-size: cover;
  }
  .flip-card-back {
    background: var(--bg-15), #de0910db;
    background-size: cover;
    background-blend-mode: multiply;
  }
}
.treatments
  .category-container:nth-child(5)
  .card-container
  .row2
  .card:nth-child(1) {
  .flip-card-front {
    background: var(--bg-16);
    background-size: cover;
  }
  .flip-card-back {
    background: var(--bg-16), #de0910db;
    background-size: cover;
    background-blend-mode: multiply;
  }
}

/* fifth group */
.treatments
  .category-container:nth-child(6)
  .card-container
  .row1
  .card:nth-child(1) {
  .flip-card-front {
    background: var(--bg-17);
    background-size: cover;
  }
  .flip-card-back {
    background: var(--bg-17), #de0910db;
    background-size: cover;
    background-blend-mode: multiply;
  }
}
.treatments
  .category-container:nth-child(6)
  .card-container
  .row1
  .card:nth-child(2) {
  .flip-card-front {
    background: var(--bg-18);
    background-size: cover;
  }
  .flip-card-back {
    background: var(--bg-18), #de0910db;
    background-size: cover;
    background-blend-mode: multiply;
  }
}
.treatments
  .category-container:nth-child(6)
  .card-container
  .row1
  .card:nth-child(3) {
  .flip-card-front {
    background: var(--bg-19);
    background-size: cover;
  }
  .flip-card-back {
    background: var(--bg-19), #de0910db;
    background-size: cover;
    background-blend-mode: multiply;
  }
}
